<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Счёт счастья</title>
   	<link href="../static/bootstrap.css" rel="stylesheet">
  </head>
  <body>
	<h1 class="text-center">Описание сервера</h1>
	<h2 class="text-center">Доступные адреса</h2>
	<ul>
		<li>
			<b>/</b> - <span>справка <i>(вы сейчас здесь)</i></span>
		</li>
		<li>
			<b>/map</b> - <span>данные о сотоянии карты в формате JSON</span>
		</li>
		<li>
			<b>/reg/{никнейм}</b> - <span>регистрация в системе, возвращает ваш уникальный идентификатор (<i>id</i>). Повторные запросы меняют ваш никнейм</span>
		</li>
		<li>
			<b>/score</b> - <span>страница общего счёта</span>
		</li>
		<li>
			<b>/about_me/{id}</b> - <span>данные об игроке <i>(id - ваш идентификатор полученный через <b>/reg/{никнейм}</b>)</i></span>
		</li>
		<li>
			<b>/place_gift/{id}</b> - <span>оставить подарок в домике поблизости <i>(id - ваш идентификатор полученный через <b>/reg/{никнейм}</b>.)</i>
			Подарок будет положен во все домики, квадрат расстояния до которых не превышает <b>{{cfg.GIFT_RANGE_SQUARE}}</b>.
			Если домиков поблизости нет будет возвращена строка <b>{{cfg.BAD_GIFT_POSITION}}</b>. Если во всех ближайших домиках уже есть подарки 
			будет возвращена строка <b>{{cfg.ALREADY_GIFTED}}</b>. Если удалось одарить хоть кого-то будет возвращена строка <b>{{cfg.SUCCESS}}</b>.</span>
		</li>
		<li>
			<b>/move/{id}/{код_направления}</b> - <span>Перемещает игрока в заданном направлении на <b>{{cfg.PLAYER_STEP}}</b>. <i>Коды направлений: 
				{Верх - <b>{{cfg.UP}}</b>,
				Вниз - <b>{{cfg.DOWN}}</b>,
				Влево - <b>{{cfg.LEFT}}</b>,
				Вправо - <b>{{cfg.RIGHT}}</b>
				}</i>
			</span>
		</li>
		<li>
			<b>/view</b> - <span>страница отображения карты. Содержит скрипт отображения <i>draw.js</i>.</u> </span>
		</li>
		<li>
			<b>/base_strategy</b> - <span>страница базовой стратегии. Содержит скрипт 
			 базовой стратегии <i>actions.js</i>. <u> (Предполагается, что вы создадите копию этой страницы 
			и будете изменять этот скрипт для достижения лучшего результата).</u> </span>
		</li>
	</ul>
    <hr>
<p>
	<span class="badge text-bg-danger">Важно</span>
		Интервал между запросами требующими передачу вашего <b>{id}</b>, исключая <b>/about_me/{id}</b> должен быть не менее <b>{{cfg.REQUEST_INTERVAL_MS}}</b> миллисекунд.
		В случае слишком частых запросов вы будете получать в ответ строку <b>{{cfg.REQUEST_REJECTED}}</b>.
	</p>
	<p>
		<span class="badge text-bg-secondary">Инфо</span>
		
		Базовая стратегия делает так: змейкой спускаемся с текущего положения вниз  и на каждом шаге пытаемся положить подарок.
	</p>
	<span class="badge text-bg-secondary">Инфо</span>
		
		Если передать неправильный <b>{id}</b> будет возвращён ответ <b>{{cfg.BAD_ID}}</b>.
	</p>
  </body>
</html>
